.product_solo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "main head"
    "main sidebar"
    "main description";
  gap: 20px;

@media (max-width: 768px) {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "main head"
      "main sidebar"
      "description description";
  }

@media (max-width: 480px) {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "head head"
      "main sidebar"
      "description description";
  }

  @media (max-width: 360px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.product__image-container {
  grid-area: main;

  img {
    width: 100%;
  }

  @media (max-width: 1024px) {
    max-width: 90%;
  }
}

.product__info-block {
  grid-area: sidebar;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;

  @media (max-width: 1024px) {
    width: 100%;
    gap: 30px;
  }
}

.product__header {
  grid-area: head;

  strong {
    font-size: 40px;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
      grid-column: span 2;
    }
  }
}

.price__product {
  padding: 32px 0;
  margin-bottom: 32px;
  align-items: start;
  font-weight: 700;
  font-size: 64px;

  @media (max-width: 360px) {
    margin-left: 80px;
  }
}

.new-price {
  font-weight: 700;
  font-size: 64px;
  color: rgba(66, 68, 54, 1);

  @media (max-width: 768px) {
    font-size: 56px;
  }

  @media (max-width: 480px) {
    font-size: 48px;
  }

  @media (max-width: 360px) {
    font-size: 40px;
  }
}

.old-price {
  font-weight: 500;
  font-size: 28px;
  text-decoration: line-through;
  color: rgba(139, 139, 139, 1);
  padding-left: 20px;
  padding-top: 22px;

  @media (max-width: 360px) {
    font-size: 18px;
  }
}

.discount_badge {
  background: rgba(242, 109, 34, 1);
  color: white;
  padding: 4px 8px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  max-width: 63px;
  margin-left: 200px;
  margin-top: -80px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
    max-width: 58px;
    margin-left: -120px;
  }

  @media (max-width: 360px) {
    position: absolute;
    bottom: 420px;
    right: 40px;
  }
}

.product__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}

.product__quantity-controls {
  width: 200px;
  height: 58px;
  font-size: 24px;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 1);
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    width: 150px;
    height: 48px;
    font-size: 18px;
  }
}

.product__decrease-btn,
.product__increase-btn {
  width: 58px;
  height: 58px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 1);
  background: none;

  @media (max-width: 480px) {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}

.product__cart-btn {
  padding: 16px 32px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(146, 161, 52, 1);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: white;
  border: none;
  width: 80%;

  @media (max-width: 1024px) {
    padding: 16px 0;
    width: 70%;
  }

  @media (max-width: 768px) {
    width: 80%;
    padding: 12px 24px;
    font-size: 18px;
  }

  @media (max-width: 360px) {
    min-width: 300px;
    width: 100%;
  }
}

.product__text {
  grid-area: description;

  strong {
    font-size: 20px;
    color: rgba(66, 68, 54, 1);
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(66, 68, 54, 1);

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-style: solid;
    border: none;
    background: none;
    color: rgba(66, 68, 54, 1);
  }
}
