.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 колонки
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
}
.product-card {
  width: 316px;
  height: auto;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid rgba(221, 221, 221, 1);
  color: rgba(221, 221, 221, 1);
  text-decoration: none;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-bottom-width: 1px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(66, 68, 54, 1);
  text-align: center;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(242, 109, 34, 1);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  width: 63px;
  padding: 4px 8px;
  text-align: center;
}

.price-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.old-price {
  text-decoration: line-through;
  color: rgba(139, 139, 139, 1);
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  padding-top: 10px;
}

.new-price {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: rgba(66, 68, 54, 1);
}

.regular-price {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: rgba(66, 68, 54, 1);
}