.banner{
    width: 100%;
    height: 600px;
    display: flex;
    border-radius: 10px;    
}

.bannerImg{
    width: 100%;
    height: 600px;
    top: 128px;
    background: #00000066;
}

    .bannerText{
        position: absolute;
        display: flex;
        top: 208px; /* Центрирование по вертикали */
        left: 20px; /* Центрирование по горизонтали */
        transform: translate(-0%, 60%); /* Смещение обратно на 50% ширины/высоты */
        color: white; /* Белый текст */
        font-size: 80px;
        font-weight: bold;
        gap: 40px;
        padding: 7px 10px;
        border-radius: 4px;
        height: 310px;
        width: 1360px;
    
    }
    .buttonCheck{
    width: 218px;
    height: 58px;
    border-radius: radius small;
    padding-top: 16px;
    padding-right: 56px;
    padding-bottom: 16px;
    padding-left: 56px;
    gap: 10px;
    background: #92A134;
    transform: translate(-580%, 350% );
    left:  20px;
    top: 208px;
    color: white;
    
    }
    .buttonCheck.text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    
    }
    .containerCategories{
    width: 1360px;
    height: 528px;
    left: 40px;
    gap: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
    }
    .category{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    }

    .category-header {
        display: flex;
        align-items: center;
        gap: 20px; // Расстояние между заголовком и линией
      }
      
      .line-box {
        display: flex;
        align-items: center;
        flex-grow: 1; // Линия растягивается на оставшееся пространство
      }
      
      .line {
        width: 825px; 
        height: 2px;
        background-color: rgba(221, 221, 221, 1);
        border: none;
      }
      
      .line-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 126%;
        text-align: center;
        color: #8B8B8B;
        width: 142px;
        height: 36px;
        border: 1px solid #DDDDDD;
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
 
.ImgCategory{
    width: 980px;
    height: 318px;
    gap: 50px;
    display: flex;
    position: relative;
    top: -40px;
}
.img-container{
    width: 325px;
    height: 392px;
    gap: 18px;
}

.img{
    width: 316px;
    height: 350px;
}      
      
      
    
.discount{
    width: 1360px;
    height: 486px;
    background: linear-gradient(to top right, rgba(135, 147, 61, 1), rgba(85, 97, 11, 1));
    margin-top: 120px;
    margin-left: 40px;
}

    .text{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    }

    .discount-content {
        display: flex;
        flex-direction: row;
        width: 1296px;
        height: 360px;
        padding-top: 20px;
}

    .discount-image{
        height: 360px;
        padding-top: 35px;
}

        .discount-form{
            width: 516px;
            height: 350px;
            display: flex;
            flex-direction: column;
            gap: 16px; /* Расстояние между полями */
            border-radius: 8px; /* Закругление краёв */
            
        }
        .input{
            height: 58px;
            padding: 15px;
            border: 2px solid white;
            border-radius: 8px;
            font-size: 30px;
            color:white;
            background: transparent;
            outline: none;
            gap: 10px;
            box-sizing: content-box;
    
        }
        input::placeholder {
            color: white;
            opacity: 0.7;
          }
        
          button {
            height: 58px;
            background: #fff;
            color: black;
            font-size: 18px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
          }
        
          button:hover {
            background: gray;
          }

     .t{
      font-family: Montserrat;
      font-weight: 500px;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      
     }
     .sale{
      width: 1360px;
    height: 532px;
    top: 1982px;
    left: 40px;
    gap: 40px;
    
     }
     .Sale{
    font-family: Montserrat;
    font-weight: 700px;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    
     }
     .line2{
     position: relative;
    top: -90px;
    width: 80%;
    margin-right: 70px;
       }
    .ImgSale{
    width: 1350px;
    height: 422px;
    gap: 20px;
    display: flex;
    position: relative;
    top: -100px;
    }
    .price{
    width: 252px;
    height: 44px;
    gap: 16px;
    text-align: center;
    
    
    }
    .text-sale{
    font-family: Montserrat;
    font-weight: 500px;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #424436;
    text-align: center;
    
    }
    .img2{
    width: 316px;
    height: 284px;
    border-bottom-width: 1px;
    
    }
    .sale-container{
      width: 316px;
      height: 422px;
      gap: 20px;
      border-radius: radius big;
      border-width: 1px;
      
    }
    .discount-price{
      font-family: Montserrat;
    font-weight: 500px;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #8B8B8B;
    position: relative;
    top: -40px;
    left:  70px;
    
    }
    .price1{
     font-family: Montserrat;
    font-weight: 600px;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    
    }
     
     
    
           
    
          