@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header_all {
    width: 1440px;
    height: 128px;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: white;
    font-family: 'Montserrat';

    @media (max-width: 480px) {
        width: 100%;
        height: 68px;
        border-bottom-width: 1px;
        flex-direction: row;
    }
}
    
    #logo {
        height: 70px;
        padding-left: 40px;

        @media (max-width: 480px) {
            width: 44px;
            height: 44px; 
            padding-top: 10px;
        }
    }
    .top_line {
        width: 518px;
        height: 26px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        gap: 22px;

        @media (max-width: 480px) {
            display: none; // Скрываем ссылки на маленьких экранах
            flex-direction: column;
            width: 100%;
            height: auto;
            gap: 10px;
    
            &.open {
                display: flex; // Показываем меню, если оно открыто
            }
        }
    }

        li {
            a {
                text-decoration: none; 
                color: inherit;
        } 
        p {
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            margin: 0;
            

            &:hover {
            color: rgba(221, 221, 221, 1); 
            }
        }
    }

    .numer_cart {
        padding-right: 40px;
        position: relative;

        @media (max-width: 480px) {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: center;
        }

        #cart {
            width: 48px;
            height: 48px;

            @media (max-width: 480px) {
                width: 30px;
                height: 32px;                        
            }

        }
        .cart_count {
            position: absolute; 
            top: 5px; 
            right: 70px; 
            background-color: rgba(146, 161, 52, 1);
            color: white; 
            border-radius: 50%; 
            width: 26px; 
            height: 26px; 
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            
            @media (max-width: 480px) {
                width: 17px;
                height: 17px;
                right: 100px;  
            }
        }
    }

    .burger_menu {
        display: none; // Скрываем бургер-меню по умолчанию
    
        @media (max-width: 480px) {
            display: flex; // Показываем бургер-меню на маленьких экранах
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            padding-top: 10px;
            
        }
    
        .burger_line {
            width: 25px;
            height: 3px;
            background-color: rgba(66, 68, 54, 1);
            transition: transform 0.3s, opacity 0.3s;
        }
            &.open {
        .burger_line:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }
        .burger_line:nth-child(2) {
            opacity: 0;
        }
        .burger_line:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
    }
