.footer {
    padding: 0 40px 80px;
    font-family: 'Montserrat';
}

.footerText {
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    max-width: 1360px;
}

/* Контейнеры */
.cart,
.cart1,
.cart2,
.map {
    width: 100%;
    max-width: 1360px; 
}

.cart {
    display: grid;
    gap: 90px;
}

.info {
    display: grid;
    gap: 80px;
}

.cart1, .cart2 {
    display: flex;
    gap: 32px;
}

/* Карточки */
.contact, .Address {
    width: 780px;
    padding: 32px;
    background: #F2F6D3;
}
.Social, .hours {
    width: 548px;
    padding: 32px;
    background: #F2F6D3;
}


.phone, .social, .add, .work {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #8B8B8B;
}

.number, .street, .day {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #424436;
}

/* Карта */
.map {
    height: 350px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Адаптация */
@media (max-width: 1024px) {
    .cart {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contact, .Social, .Address, .hours {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .footerText {
        font-size: 48px;
    }

    .number, .street, .day {
        font-size: 24px;
    }

    .cart {
        display: flex;
        flex-direction: column;
        align-items: center; // Чтобы контент выровнялся по центру
        gap: 20px; // Добавляем небольшие отступы между элементами
    }

    .cart1, .cart2 {
        flex-direction: column;
        width: 100%; // Растягиваем элементы на всю ширину
    }

    .contact, .Social, .Address, .hours {
        width: 100%;
    }
}


